.badge-success {
  background-color: $green-400;
  font-size: $font-size-xs;
}
.badge-error {
  background-color: $red-400;
  font-size: $font-size-xs;
}
.badge-warning {
  background-color: $yellow-400;
  font-size: $font-size-xs;
}
.badge-orange {
  background-color: orange;
  font-size: $font-size-xs;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
