.detail-page {
  border-top: none;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: white;
  .header {
    background-color: $primary;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    flex-wrap: wrap;
    gap: 8px;

    .header-item {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      min-width: 300px;
      flex: 1;
      word-break: break-word;
      &:last-child {
        justify-items: end;
      }
      .header-detail {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .dnd-detail {
        font-weight: 700;
        color: $light;
        background-color: $red-600;
        padding: 0px 5px;
        border: 1px solid $red-600;
        border-radius: 5px;
      }

      .icon {
        min-width: 20px;
        height: 20px;
        opacity: 0.8;
        color: $light;
      }

      span {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
      }
    }
    .select-mobile {
      padding: 5px;
      border-radius: 5px;
      background: $light;
      color: $primary;
    }

    .header-icon {
      position: relative;
      top: 0;
      margin-top: 0;
      // margin-bottom: 10px;
      box-shadow:
        #b4b2aa 0px 4px 0px,
        #a8a59c 0px 0px 6px;
      display: block;
      background: $light;
      color: $primary;
      padding: 10px;
      border: 0;
      cursor: pointer;
      font-size: 1.2em;
      opacity: 0.9;
      border-radius: 10px;
      transition:
        box-shadow 0.2s,
        top 0.2s;
    }

    .header-icon:active {
      box-shadow: none;
      top: 0px;
      margin-bottom: 0;
    }

    .header-icon:hover {
      opacity: 1;
    }

    .header-icon:active,
    .header-icon:focus {
      outline: 0;
    }
  }
}
.service-dates-wrap {
  background-color: #e8e8e8;
  padding: 1.5rem;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  flex-wrap: wrap;
  gap: 8px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  .header-item {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    min-width: 300px;
    flex: 1;
    word-break: break-word;
    &:last-child {
      justify-items: end;
    }
    .header-detail {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .icon {
      min-width: 20px;
      height: 20px;
      opacity: 0.8;
    }

    span {
      font-size: $font-size-sm;
      font-weight: $font-weight-medium;
    }
  }
}

.back-to-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  .title-heading {
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
  }
}
.back-arrow {
  background-color: $gray-300;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 99px;
  text-align: center;
}

.font-12 {
  font-size: $font-size-xs !important;
}
.font-14 {
  font-size: $font-size-sm !important;
}
.font-16 {
  font-size: $font-size-md !important;
}
.font-18 {
  font-size: $font-size-lg !important;
}
.font-20 {
  font-size: $font-size-xl !important;
}
.font-bold {
  font-weight: 700 !important;
}
.font-primary {
  color: $primary;
}
.font-charcoal {
  color: $charcoal;
}

@media (max-width: 480px) {
  .detail-page .header {
    padding: 0.5rem;
  }

  .detail-page .tabs-button {
    padding: 0.5rem 1rem;
  }

  .detail-page .content {
    padding: 1rem;
  }

  .detail-page .info-grid {
    gap: 1rem;
  }
  .hide-mb {
    display: none;
  }
}

.sticky-header {
  position: sticky;
  top: 51px;
  z-index: 9;
}
.max-height-300 {
  // max-height: 376px;
  max-height: calc(100vh - 550px);
}

.interaction-history {
  margin-top: 15px;
  background-color: $primary;
  color: $primary-yellow;
  text-align: center;
  font-size: $font-size-xl;
  font-weight: $font-weight-semi-bold;
  padding: 12px;
  border-radius: 5px;
  margin: 15px 0;
}
